@charset "UTF-8";

* {
	box-sizing: border-box;
	max-width: 1300px;
	margin: auto;
}

/*----------- 이용약관 -------------*/

.TosMain{
	border: 1px solid black;
	width: 400px;
	margin: 100px auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
	color: black;
}

.TOSContents{
	width: 100%;
	height: 500px;
	border: 1px solid black;
	margin-bottom: 10px;
}

.agreeTOSDiv{
	width: 180px;
	text-align: right;
	margin: 0 0 10px auto;
}

/*----------- 회원가입 -------------*/

.joinMain{
	border: 1px solid black;
	width: 500px;
	margin: 100px auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
}

.joinMain input{
	height: 45px;
	border: none;
	width: 80%;
	border-bottom: 1px solid black;
	font-size: 1.2rem;
}

.joinMain div{ margin-bottom: 20px; }
.joinMsgDiv{ font-size: 0.8rem; }

#joinPwRuleMsg{ 
	font-size: 0.8rem;
	color: #949494;
	margin-bottom: 5px;
}

.joinPhoneDiv1{
	width: 80%;
	display: flex;
	flex-direction: row;
	margin-left: 0;
	line-height: 35px;
	border-bottom: 1px solid black;
}

#FirstPnumDiv{
	width: 100px;
	height: 35px;
	margin: 0;
	padding: .5em .8em;
	line-height: 0;
	border-right: 1px solid black;
}

#FirstPnumDiv select{
	width: 100%;
	height: 100%;
	border: 1px solid #d3d3d3;
}

.joinPhoneDiv input{ 
	width: 100px; 
	height: 35px;
	margin: auto 10px auto 10px;
	border: none;
}
.joinEmailDiv input{ width: 130px; }
#joinSubmitBtn{ width: 100%; border: none;}

input:focus { outline:none; }
#FirstPnum:focus { outline:none; }
